.order_page{
	padding: 6rem 0; height: auto;
} 
.order_address{
	background: #fff; padding: 1rem 1rem 1rem 4rem; position: relative;
}
.order_address i{
	width: 2rem; height: 2rem; background: url(../../images/icons/address.png) no-repeat; background-size: 100%; position: absolute; left: 1rem; top: 2rem;
}
.order_address h2{
	font-size: 1.6rem; color: #333; font-weight: 700;
}
.order_address h2 span{
	float: right; font-size: 1.4rem;
}
.order_address p{
	font-size: 1.4rem; color: #666;
}
.remark{
	padding: 2rem 0 0;
}
.remark textarea{
	width: 100%; height: 5rem; border: 1px solid #ddd; background: #fff; resize: none; padding: 0.6rem; display: block;
}
.remark .tips{
	background: #fff9eb; border: 1px solid #ffd5bd; color: #f00; padding: 1rem; margin-top: 1rem; font-size: 1.3rem;
}
.remark .tips i{
	width: 0.5rem; height: 0.5rem; display: block; float: left; background: #f00; border-radius: 50%; margin-top: 0.4rem;
}
.com_list li{
	background: #fff; margin-top: 1rem; font-size: 1.3rem;
}
.pro_list li:first-child{
	margin-top: 0;
}
.com_list >li >h2{
	height: 4rem; line-height: 4rem; font-weight: 700; font-size: 1.6rem; color: #333; padding-left: 1rem;
}
.pro_list li{
	height: 8rem; border-top: 1px solid #ddd; position: relative; padding: 2rem 2rem 2rem 6rem;
}
.pro_list li h2{
	font-size: 1.4rem; color: #333; font-weight: 700; margin-bottom: 1rem;
}
.pro_list li img{
	position: absolute; left: 1rem; top: 2rem; width: 4rem;
}
.order_btn{
	position: absolute; top: 3rem; right: 2rem; width: 6rem; height: 2rem; line-height: 2rem; background: #72a52c; border-radius: 0.8rem; display: block; color: #fff; text-align: center;
}
.shopcar{
	height: 5rem; width: 100%; background: #fff; position: fixed; bottom: 0; left: 0; border-top: 1px solid #ddd; z-index: 9997;
}
.submit_wrap{
	padding: 1rem; height: 100%; line-height: 3rem; font-size: 1.4rem; color: #333;
}
.car{
	position: relative; width: 3rem; height: 3rem; padding: 0.5rem; background:#f5f5f5; display: block; float: left; margin-right: .5rem;
}
.car i{
	width: 2rem; height: 2rem; background: url(../../images/icons/car.png) no-repeat; background-size: 100%; background-position: center; display: block; 
}
.car em{
	background: #72a52c; color: #fff; border-radius: 50%; position: absolute; width: 1.6rem; height: 1.6rem; line-height: 1.6rem; right: -0.5rem; top: -0.5rem; text-align: center;
}
.submit_wrap .submit_btn{
	position: absolute; right: 0; top: -0.1rem; height: 5rem; line-height: 5rem; font-size: 1.6rem; width: 8rem; text-align: center; background: #72a52c; color: #fff;
}
.submit_wrap span{
	color: #72a52c; font-weight: 700;
}
.add_shopcar{
position: fixed; bottom: -50rem; left: 0; z-index: 9997; background: #fff; width: 100%; transition:all 0.3s;
}
.fullbg{
	transition:all 0.3s;
}
.add_shopcar.active{
	bottom: 0;
}
.add_shopcar .product_info{
	position: relative; padding-left: 8rem; height: 6rem;
}
.add_shopcar .product_info h2{
	font-size: 1.4rem; color: #333; font-weight: 700; margin-top: 0.5rem;
}
.add_shopcar .product_info span{
	font-size: 1.2rem; color: #777977;
}
.add_shopcar .product_info img{
	width: 6rem; position: absolute; left: 1rem;top: -1rem;
}

.add_shopcar .div_rel{
	position: relative; padding-left: 4rem;
}
.add_shopcar .div_rel .title_span{
	position: absolute; font-size: 1.2rem; color: #333; left: 1rem; top: 0;
}
.packing{
	height: 4rem; line-height: 4rem;
}
.packing a{
	padding: 0 1rem; height: 2rem; margin: 1rem 1rem 0 0; line-height: 2rem; text-align: center; display: block; float: left; color: #333;  border-radius: 0.4rem; border: 1px solid #ddd;
}
.packing a.active{
	color: #fff; background: #72a52c; border-color: #72a52c;
}
.specifications{
	height: 3rem; line-height: 3rem; background: #f5f5f5; border-top: 1px solid #ddd;
}
.specifications a{
	padding: 0 1rem; height: 2rem; color: #333; border: 1px solid #ddd; display: block; float: left; line-height: 2rem; text-align: center; margin: .5rem 1rem 0 0 ;
}
.specifications a.active{
	border-color: #72a52c; color: #72a52c;
}
.total{
 height: 4rem; line-height: 4rem; padding: 0 1rem 1rem 4rem;
}
.add_reduce{
  font-size: 0; position: relative; float: right; line-height: 0; top: 1rem;
}

.sel_num{
   display: inline-block;
    margin-left: 1.0rem;
    width: auto;
}
.sel_num_input {
  width: 7.8rem; height: 2.4rem; border: .1rem solid #ddd; font-size: 1.4rem; color: #777977; text-align: center;
}
.sel_num .sel_num_input:focus{
  border-color: #ddd;
}
.add_reduce a{
  width: 2.4rem; height: 2.4rem; transition: unset; display: inline-block; position: absolute; top: 0; left: 0; border: .1rem solid #ddd;
  background: url(../../images/icons/reduce.png) no-repeat;   background-size: 60%; background-position: center;
}
.add_reduce .add_btn{
  left: 5.4rem;  background: url(../../images/icons/add.png) no-repeat;  background-size: 60%;  background-position: center;
}
.add_to_shopcar {
	padding: 0.2rem;
}
.add_to_shopcar a{
	display: block; width: 100%; height: 4rem; line-height: 4rem; background: #72a52c; text-align: center; font-size: 1.6rem; color: #fff;
}
.money{
	color: #72a52c; font-weight: 700; font-size: 1.4rem;
}
.money em{
	font-size: 1.6rem;
}
.sjx{
    width: 0;
    height: 0;
    border-left: .5rem solid transparent;
    border-right: .5rem solid transparent;
    border-top: 0.8rem solid #fff;
}
.goods_list .sjx{
	position: absolute; bottom: -0.8rem ;left: 2rem;
}
.goods_list{
	position: fixed; bottom: -40rem; left: 0; width: 100%; background: #fff; z-index: 9998; transition: all 0.3s;
}
.goods_list.active{
	bottom: 7rem;
}
.goods_list .rel > h2{
	padding: 1rem; font-size: 1.6rem; color: #333; font-weight: 700; background: #f5f5f5;
}
.goods_list h2 a{
	float: right; color: #666; font-size: 1.4rem; font-weight: normal;
}
.goods_list h2 a i{
	width: 1.6rem; height: 1.6rem; display: block; position: relative; top: 0.2rem; float: left; background: url(../../images/icons/remove.png) no-repeat; background-size: 100%;
}
.goods_list .pro_list{
	max-height: 34rem; overflow: auto; 
}
.goods_list .pro_list li{
	padding: 0.5rem 1rem 0.5rem 6rem; height: 6rem;
}
.goods_list .pro_list li img{
	top: 1rem; border: 1px solid #ddd; padding: 0.2rem;
}
.goods_list .pro_list li h2{
	margin-bottom: 0; 
	width: 15rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.specifications_span{
	display: block;
}
.add_reduce_radio{
	float: right; padding-top: 1.6rem;
}
.add_reduce_radio a{
	width: 1.6rem; height: 1.6rem; display: block; float: left; background: url(../../images/icons/reduce_o.png) no-repeat; background-size: 100%; 
}
.add_reduce_radio .add_btn{
	 background: url(../../images/icons/add_o.png)  no-repeat; background-size: 100%;  
}
.goods_list .sel_num_input{
	width: 3rem; float: left; height: 1.6rem; margin: 0 0.2rem; font-size: 1.2rem;
}